.App {
  @apply min-h-screen lg:p-10 xl:p-12 bg-gray-900 text-gray-200;
}

.clock {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

  @apply text-8xl font-bold mb-5;
}
