.main.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.On {
  color: green;
}

.Off {
  color: red;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}